<h1 class="reg">Log in</h1>

<form class="registration" id="formLog">
  <label for="title-input2" class="form-label block mar-b-1">Email:</label>
  <input id="title-input2" name="email" type="text" tabindex="2" class="form-control block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="title-input3" class="form-label block mar-b-1">Password:</label>
  <input id="title-input3" name="password" type="text" tabindex="3" class="form-control block w-100 no-outline no-border pad-1 mar-b-2">

  <input type="submit" value="Log in" tabindex="3"
    class="btn block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
