<div class="addForm mt-5"> 
  <h1>Form addPost</h1>
</div>
<form id="addForm">
  <div class="input-group mt-2">
  <input type="text" name="text" class="form-control" placeholder="..." aria-label="Recipient's username with two button addons">
  <button class="btn btn-outline-secondary" type="submit">Add post</button>
  </div>
</form>

