<div class="addForm mt-5"> 
  <h1>Form updatePostadsfffff</h1>
</div>
<form id="upForm">
  <div class="input-group mt-2">
  <input type="hidden" name="id" class="form-control w-4" value="{{this.id}}" >
  </div>
  <div class="input-group mt-2">
  <input type="hidden" name="user_id" class="form-control w-4" value="{{this.user_id}}" >
  </div>
  <div class="input-group mt-2">
  <input type="text" name="title" class="form-control" value="{{this.title}}" >
  </div>
   <button class="btn btn-outline-secondary" type="submit">update post</button>
</form>
